body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
}
#myH1{
    font-size: 4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
}
#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 2px pink;
    margin-bottom: 25px;
}
#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: hotpink;
    transition: background-color 0.5s ease;
}
#startBtn{
    background-color: yellow;
}
#startBtn:hover{
    background-color: lightyellow;
}
#stopBtn{
    background-color: lightskyblue;
}
#stopBtn:hover{
    background-color: blue;
}
#resetBtn{
    background-color: lightgreen;
}
#resetBtn:hover{
    background-color: aquamarine;
}
